.board {
  width: 100%;
  text-align: center;
}
.board {
  width: 500px;
  height: 500px;
  border: 2px black solid;
  background-color: white;
  position: relative;
  margin: auto;
}

.mainpallet {
  width: 100px;
  height: 40px;
  border: 1px solid black;
}

#PaletterBlue {
  background-color: blue;
}
#PaletterGreen {
  background-color: green;
}
#PaletterYellow {
  background-color: yellow;
}
#PaletterRed {
  background-color: #f11;
}
#PaletterBrown {
  background-color: brown;
}
.colors {
  display: inline-block;
  margin: 8px;
}

.palet {
  width: 600px;
  height: 120px;
  background-color: aqua;
  border: 1px solid black;
  margin: auto;
}

.selected
{
  background-color: #f11;
  font-weight: bold;
}
