.board {
  width: 500px;
  height: 500px;
  border: 2px black solid;
  background-color: white;
  position: relative;
  margin: auto;
}

.mainpallet {
  width: 100px;
  height: 30px;
  border: 1px solid black;
}

#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#yellow {
  background-color: yellow;
}
#red {
  background-color: #f11;
}
#brown {
  background-color: brown;
}
.colors {
  display: inline-block;
  margin: 8px;
}

.palet {
  width: 600px;
  height: 120px;
  background-color: gray;
  border: 2px solid black;
  margin: auto;
}

.selected {
  background-color: #f11;
  font-weight: bold;
}

.color_chosse {
  border: 3px solid white;
}

.removePMargin {
  margin: 0 0 0px;
}

.SelectedColor {
  color: blue;
}

.pstyle {
  display: inline;
}
